@charset "utf-8";
/* CSS Document */
.main{width:90px;
height:90px;
background-image:url(download.png);
background-position:0 0;
}
.main1{width:90px;
height:90px;
background-image:url(download.png);
background-position:-90px 0;
}

.main2{width:90px;
height:90px;
background-image:url(download.png);
background-position:-180px 0;
}
.main3{width:90px;
height:90px;
background-image:url(download.png);
background-position:0px -90px;
}
.main4{width:90px;
height:90px;
background-image:url(download.png);
background-position:-90px -90px;
}
.main5{width:90px;
height:90px;
background-image:url(download.png);
background-position:-180px -90px;
}

